@use "./styles/button.scss";
@use "./features/interview/style/home.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Inter:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background: #0b0b0c;   
  color: #f9fafb;        
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
   font-family: "Space Grotesk", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 🔥 Fix browser autofill background issue */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #{$bg-input} inset !important;
  -webkit-text-fill-color: #{$text-primary} !important;
  border: 1px solid #{$border-color} !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* keep focus style consistent */
input:-webkit-autofill:focus {
  border-color: $accent !important;
  box-shadow: 0 0 0 2px $accent-glow, 0 0 0 1000px #{$bg-input} inset !important;
}