@use './styles/button.scss';
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body,#root{
    width: 100%;
    background: #161616;
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}